@model IEnumerable<InventoryStorage.Models.ItemHistory>
@{
    ViewData["Title"] = "История на предмети";
}

<h1>Търсене нa предишно местоположение на предмет</h1>
<div class="container p-3">
    <form method="post" asp-controller="History" asp-action="Search">
        <div class="row">
            <div class="col-12">
                <b>Търсене по:</b>
                @Html.RadioButton("searchBy", "Id", true)  Номер
                @Html.RadioButton("searchBy", "ItemName")  Име
                @Html.RadioButton("searchBy", "Description")  Описание
                <div class=" form-group row">
                    <input type="search" name="search" />

                </div>
                <div class="form-group row">
                    <input type="submit" value="Търсене" class="btn btn-success m-1" asp-controller="History" asp-action="Search" />
                </div>
            </div>
        </div>
    </form>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Име</th>
                    <th>Описание</th>
                    <th>Местоположение</th>
                    <th>Предишно местоположение</th>
                    <th>Дата на преместване</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="10%">@item.Id</td>
                        <td width="18%">@item.ItemName</td>
                        <td width="18%">@item.Description</td>
                        <td width="12%">@item.Location</td>
                        <td width="10%">22222</td>
                        <td width="15%">31.12.2021</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Няма въведени предмети!</p>
    }
</div>