@model IEnumerable<InventoryStorage.Models.Item>
@{
        ViewData["Title"] = "Търсене на предмет";
    }
<body style="background-color: #FBF8F1; font-family: Verdana, Arial;">
    <br />
    <br />
    <br />
    <br />
    <h1 class="text-primary">Търсене на предмет</h1>
    <div class="container p-3">
        <form method="post" asp-controller="Search" asp-action="Search">
            <div class="row">
                <div class="col-12">
                    <b>Търсене по:</b>
                    
                    @Html.RadioButton("searchBy", "Id", true)  Номер
                    @Html.RadioButton("searchBy", "ItemName")  Име
                    @Html.RadioButton("searchBy", "Description")  Описание
                    @Html.RadioButton("searchBy", "Location")  Местоположение
                    
                    <div class=" form-group row">
                        <input type="search" name="search" />

                    </div>
                    <div class="form-group row">
                        <input type="submit" value="Търсене" class="btn m-1" style="background-color: #24A19C;color:whitesmoke;" asp-controller="Search" asp-action="Search" />
                    </div>
                </div>
            </div>
        </form>
        @if (Model.Count() > 0)
        {
    <table class="table table-bordered borthead-dark table-striped table-hover" style="width:100%;
                background-color: aliceblue">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Име</th>
                <th>Описание</th>
                <th>Местоположение</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="10%">@item.Id</td>
                    <td width="24%">@item.ItemName</td>
                    <td width="24%">@item.Description</td>
                    <td width="14%">@item.Location</td>
                    <td width="24%">
                        <a class="btn btn-success m-1" asp-controller="Search" asp-action="Update" asp-route-id=@item.Id>Промяна</a>
                        <a class="btn btn-danger m-1" asp-controller="Search" asp-action="Delete" asp-route-id=@item.Id>Изтриване</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        }
        else
        {
            <p>Няма въведени предмети!</p>
        }
    </div>
</body>